# 나만의 데이터 만들기

# 시리즈로 데이터 만들기

In [3]:
#학습에 사용할 Series 와 data.Fram을 만들어보자!
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [4]:
# 시리즈를 생성 할 때 문자열을 인덱스로 지정 가능함
s = pd.Series(['Wes Mckinney', 'Creator of Pandas'])
print(s)
s = pd.Series(['Wes Mckinney', 'Creator of Pandas'], index=['person','Who'])
print(s)

0         Wes Mckinney
1    Creator of Pandas
dtype: object
person         Wes Mckinney
Who       Creator of Pandas
dtype: object

In [5]:
 #내가 시리즈 만들어보기
p = pd.Series(['dkgu', 19], index=['name','age'])
print(p)

name    dkgu
age       19
dtype: object

# 데이터프레임 만들기
데이터 프레임을 만들기 위해서는 딕셔너리를 DataFrame 클래스에 전달해야 한다

In [6]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37,61]
})

print(scientists)
print(type(scientists))

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61
<class 'pandas.core.frame.DataFrame'>

시리즈와 마찬가지로 데이터프레임도 인덱스를 따로 지정하지 않으면 인덱스를 0부터 
자동으로 생성한다. 인덱스를 따로 지정하려면 index 인자에 리스트를 전달하면 됨
columms 을 이용하면 열의 순서를 지정할 수 있다.

In [7]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37,61]
},  index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Age', 'Died'])
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

딕셔너리는 key와 value로 이루어진 한 쌍의 데이터들은 순서를 보장하지 않는다.
순서가 보장된 딕셔너리를 전달하려면
# OrederedDict 
을 사용해서 만들어주면 된다

In [8]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation' , ['Chemist', 'Statistician']),
    ('Born' , ['1920-07-25', '1876-06-13']),
    ('Died' , ['1958-04-16', '1937-10-16']),
    ('Age' , [37,61])
])
)

print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 자신의 정보로 딕셔너리 만들어보기

In [9]:
student = pd.DataFrame({
    'name' : 'lee dk gu',
    'age'  :  27,
    'hobby' : ['heathTraining', 'game'],
    'dream' : 'speaker'    
},
index = [1,2],
columns = ['name', 'age', 'dream', 'hobby'])
print(student)

student = pd.DataFrame(OrderedDict([
    ('name', 'lee dk gu'),
    ('age', 28),
    ('hobby',['heathTraining', ' game']),
    ('dream' , 'speaker')
])
)
                       
print(student)

        name  age    dream          hobby
1  lee dk gu   27  speaker  heathTraining
2  lee dk gu   27  speaker           game
        name  age          hobby    dream
0  lee dk gu   28  heathTraining  speaker
1  lee dk gu   28           game  speaker

# Serice 다루기 basic
판다스의 데이터를 구성하는 가장 기본 단위는 시리즈이다.
데이터 프레임에서 시리즈를 선택하는 방법을 알아보자

In [10]:
scientists = pd.DataFrame(
    data = {'Occupation': ['Chemist', 'Statistician'],
            'Born' : ['1920-07-25', '1876-06-13'],
            'Died' : ['1958-04-16', '1937-10-16'],
             'Age' : [37, 61]},
    index= ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Age', 'Died'])
print(scientists)

first_row = scientists.loc['William Gosset']
print(type(first_row)) # class 'pandas.core.series.Series'>
print(first_row)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16
<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

# 시리즈 속성과 메서드 사용하기 - index,values,keys

index 속성 사용하기

In [11]:
print(first_row.index)

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

values 속성 사용하기

In [12]:
print(first_row.values)

['Statistician' '1876-06-13' 61 '1937-10-16']

keys 메서드 사용하기
keys 는 속성이아니라 메서드이다.
keys 메서드는 index 속성과 같은 역할을 한다

In [13]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

indext 속성 응용하기

In [14]:
print(first_row.index[0])
print(first_row.index[1])
print(first_row.index[3])
print(first_row.index[:])
print(first_row.index[:2])

Occupation
Born
Died
Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')
Index(['Occupation', 'Born'], dtype='object')

keys() method 응용하기

In [15]:
print(first_row.keys()[0])
print(first_row.keys()[2])
print(first_row.keys()[1:3])
print(first_row.keys()[:])

Occupation
Age
Index(['Born', 'Age'], dtype='object')
Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

# 시리즈의 기초 통계 메서드 사용하기

mean,min,max,std 메서드 사용하기

In [16]:
ages = scientists['Age']
print(ages)
print("age.mean :",ages.mean())
print("age.min :",ages.min())
print("age.max :",ages.max())
print("age.std :",ages.std())

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64
age.mean : 49.0
age.min : 37
age.max : 61
age.std : 16.97056274847714

# 자주사용하는 시리즈 메서드 정리

In [50]:
always = pd.DataFrame({
    'gremmer':['append', 'describe', 'drop_dduplicates','equals','get_values', 'isin',
               'min', 'max', 'mean', 'median', 'replace', 'sample', 'sort_values', 'to_framge'],
    'content':['2개 이상의 시리즈 연결','요약 통계량 계산', '중복값이 없는 시리즈 반환',
             '시리즈에 해당 값을 가진 요소가 있는지 확인','시리즈 값 구하기(values 속성과 동일)',
              '시리즈에 포함된 값이 있는지 확인','최솟값 반환','최댓값 반환', '산술 평균 반환',
              '중간값 반환', '특정값을 가진 시리즈 값을 교체', '시리즈에서 임의의 값을 반환',
              '값을 정렬', '시리즈를 데이터프레임으로 변환']
    })
always

             gremmer                   content
0             append             2개 이상의 시리즈 연결
1           describe                 요약 통계량 계산
2   drop_dduplicates            중복값이 없는 시리즈 반환
3             equals  시리즈에 해당 값을 가진 요소가 있는지 확인
4         get_values  시리즈 값 구하기(values 속성과 동일)
5               isin        시리즈에 포함된 값이 있는지 확인
6                min                    최솟값 반환
7                max                    최댓값 반환
8               mean                  산술 평균 반환
9             median                    중간값 반환
10           replace         특정값을 가진 시리즈 값을 교체
11            sample           시리즈에서 임의의 값을 반환
12       sort_values                     값을 정렬
13         to_framge          시리즈를 데이터프레임으로 변환

# 시리즈와 불린 추출 
데이터의 정확한 인덱스를 모르는 경우에 사용하는 방법

In [19]:
scientists = pd.read_csv('../data/scientists.csv')
scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [26]:
scientists['Age'].mean()
scientists['Age'].max()
scientists['Age'].describe()

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

불린 추출을 이용해서 평균나이보다 더 많은 사람을의 데이터를 추출

In [33]:
print(ages> ages.mean()) 
print(type(ages > ages.mean()))

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
<class 'pandas.core.series.Series'>

In [34]:
manual_bool_values = [False, True, True, True, False, False, False, True]
print(ages[manual_bool_values])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [29]:
ages = scientists['Age']
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

## 시리즈와 브로드캐스팅
### ages > ages.mean()의 결괏값의 개수가 여러 개라는 것이 이상하다
시리즈나 데이터프레임에 있는 모든 데이터에 대해 한 번에 연산하는 것을 **Broadcating 이라고 한다**
그리고 시리즈 처럼 여러 개의 값을 가진 데이터를 **벡터** 라고 하고
다순 크기를 나타내는 데이터를 **스칼라**라고 한다

### 백터에 백터를 연산하기

In [56]:
print(ages + ages)
print(ages * ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

### 벡터에 스칼라를 연산 하여 브로드캐스팅 하기

In [59]:
print(ages + 100)
print(ages * 2)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

### 길이가 서로 다른 백터의 연산

In [62]:
print(pd.Series([1, 100]))
print(ages)
print(ages + pd.Series([1, 100]))

0      1
1    100
dtype: int64
0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

### sort_index를 이용해서 내림차순으로 정렬함
**ascending = False (내림차순)**
**ascending = True  (오림차순)**

In [64]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

## 백터와 백터와의 연산은 일치하는 인덱스의 값 끼리 수행함

In [66]:
print(ages*2, ages + rev_ages, sep='')

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64  0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 데이터 프레임 다루기
### 불린 추출과 브로드캐스팅

In [73]:
print(scientists['Age'])
print("mean: ",scientists['Age'].mean())
print(scientists['Age'] > scientists['Age'].mean())
print(scientists[scientists['Age'] > scientists['Age'].mean()])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
mean:  59.125
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [80]:
print(scientists.loc[[True, True, False, True]])

IndexError: Item wrong length 4 instead of 8.

## 브로드 캐스팅하기
데이터프레임에 스칼라 연산을 적용하면 어떻게 될까요???
정수형 데이터는 *2 가 되고
문자형 데이터는 길이가 2배가 됨

In [83]:
print(scientists)
print(scientists *2)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician
                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

## 시리즈와 데이터프레임의 데이터 처리하기

### 열의 자료형 바꾸기와 새로운 열 추가하기

In [85]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

### 날자를 문자열로 저장한 데이터는 시간 관련 작업을 할 수 있도록 datatime 자료형으로 바꾸는 것이 좋다

In [88]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

## datetime 으로 변환된 자료들을 각각의 새로운 열에 추가하기

In [95]:
scientists['bron_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())
print(scientists.shape)

                   Name        Born        Died  Age    Occupation    bron_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14
(8, 7)

In [104]:
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['bron_dt'])
scientists.head()

,Name,Born,Died,Age,Occupation,bron_dt,died_dt,age_days_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920-07-25,1958-04-16,13779 days
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16,22404 days
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820-05-12,1910-08-13,32964 days
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,1867-11-07,1934-07-04,24345 days
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907-05-27,1964-04-14,20777 days

## 시리즈, 데이터프레임의 데이터 섞기

In [113]:
scientists['Age']
import random
import numpy as np
random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

np.random.choice(scientists['Age'],10)

0    56
1    37
2    77
3    90
4    66
5    45
6    61
7    41
Name: Age, dtype: int64

array([41, 61, 61, 45, 66, 77, 66, 90, 90, 90], dtype=int64)

## 데이터프레임의 열 삭제하기

In [116]:
print(scientists.columns)
scientists_drop = scientists.drop(['Age'], axis= 1)
print(scientists_drop.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'bron_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')
Index(['Name', 'Born', 'Died', 'Occupation', 'bron_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 데이터 저장하고 불러오기
### 데이터를 피클, CSV, TSV 파일로 저장하고 불러오기

### 1. 피클로 저장하기
피클은 데이터를 바이너리 형태로 직렬화한 오브젝트를 저장하는 방법
이것으로 저장하면 스프레드시트보다 더 작은 용량으로 데이터를 저장 할 수 있어 매우 편리, 시리즈를 피클로 저장하려면 to_pickle 메서드를 사용하면 되는데, 이떄 저장 경로를 문자열로 전달해야 합니다.

In [119]:
names = scientists['Name']
names.to_pickle('../output/scientists_names_series.pickle') # serice 저장
scientists.to_pickle('../output/scientists_df.pickle') # DataFrame으로 저장

In [122]:
names.to_csv('../output/scientists_names_series.csv')
scientists.to_csv('../output/scientists_df.tsv', sep='\t')

C:\Users\B0103\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [123]:
import xlwt
import openpyxln
names_df = names.to_frame()
names_df.to_excel('../output/scientists_names_series_df.xls')

ModuleNotFoundError: No module named 'openpyxln'